<h1>Welcome to the Ember OAuth Workshop!</h1>

API Key: {{config.apiKey}} <br />

{{#if session.isAuthenticated}}
  Authenticated<br>
  Authorization Code: {{session.data.authenticated.authorizationCode}}
  <button onclick={{action "logout"}}>Log Out</button>
{{else}}
    Unauthenticated
{{/if}}

<br />

{{outlet}}
